.subscribe {
    padding: 120px 0;
    height: 729px;
}

.subscribe-wrapper {
    background-color: #FFCA42;
    height: 489px;
}

.subscribe__title {
    font-family: 'cardo';
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    padding: 96px 0 18px 0;
    position: relative;
    color: #1B3764;
}

.subscribe__title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #1B3764;
    bottom: 0;
    left: 623px;
}

.subscribe__text {
    padding: 25px 375px 29px;
    text-align: center;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #1B3764;
}

.form {
    display: flex;
}

.form__input {
    margin: 0 8px 0 150px;    
    padding: 19px 488px 20px 39px;
    width: 656px;
    height: 70px;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #B4C7E7;
}

.form__button {
    cursor: pointer;
    margin-left: 8px;
    width: 328px;
    height: 68px;
    background-color: #1B3764;
    border: 2px solid #1B3764;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    @include scale ()
}

.form__button:hover {
    transform: scale(1.05);
}